{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="format-detection" content="telephone=no">
    <meta name="yandex-verification" content="48fb7dc2c7f71ec5" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ setup.meta_title|default:'Рекламное агентство' }}</title>
	<link media="all" rel="stylesheet" type="text/css" href="{% static 'landing/css/all.css' %}" />
</head>

<body>
	<div id="wrapper">
		<header class="header">
			<div class="header-top">
				<div class="holder">
				  <div class="logo">
          {% if setup.logotype %}
              <img src="{{ setup.logotype.url|default:'' }}" alt="{{ setup.meta_title|default:'' }}">
          {% else %}
            <span class="logo-text-black">Рекламные конструкции </span>
            <span class="logo-text-big">на входных дверях</span>
            <span class="logo-text-min">В городах России и СНГ</span>
          {% endif %}
				  </div>
				  <div class="header-phone">
					<div class="header-number">{{ setup.phone|default:"8 800 250-34-50" }}</div>
				    <div class="header-callback">Звонок бесплатный</div>
					<div class="header-callback"><a href="#dialog2" class="modal">Заказать обратный звонок</a></div>
				  </div>
				</div>
			</div>
        </header>

            <section class="about">
                <div class="holder">
                <article class="article">
                    <h1>Политика конфиденциальности</h1>
                    <p>&nbsp;</p>
                    <p> nadomofone.ru создал приложение Рекламные поверхности 2.0 как бесплатное приложение. Данная УСЛУГА предоставляется nadomofone.ru на безвозмездной основе и предназначена для использования как есть. </p>
                    <p> Эта страница используется для информирования посетителей о наших правилах сбора, использования и раскрытия Персональной информации, если кто-либо решил воспользоваться нашим Сервисом. </p>
                    <p> Если вы решите использовать наш Сервис, вы соглашаетесь на сбор и использование информации в связи с этой политикой. Личная информация, которую мы собираем, используется для предоставления и улучшения Сервиса. Мы не будем использовать или передавать вашу информацию кому-либо, кроме случаев, описанных в настоящей Политике конфиденциальности. </p>
                    <p> Термины, используемые в настоящей Политике конфиденциальности, имеют те же значения, что и в наших Условиях и положениях, которые доступны по адресу Рекламные поверхности 2.0, если иное не определено в настоящей Политике конфиденциальности. </p>
                    <p><strong>Сбор и использование информации</strong></p>
                    <p> Для повышения удобства использования нашего Сервиса мы можем потребовать от вас предоставить нам определенную личную информацию, включая, помимо прочего, данные, которые мы не собираем. Информация, которую мы запрашиваем, будет сохранена нами и использована, как описано в настоящей политике конфиденциальности. </p>
                    <p> Приложение использует сторонние службы, которые могут собирать информацию, используемую для вашей идентификации. </p>
                    <p> Ссылка на политику конфиденциальности сторонних поставщиков услуг, используемых приложением <a href="https://www.google.com/policies/privacy/" target="_blank" rel="noopener noreferrer">Сервисы Google Play</a></p>
                    <p>&nbsp;</p>
                    <p><strong>Данные журнала</strong></p>
                    <p><strong>Файлы cookie</strong></p>
                    <p> Файлы cookie — это файлы с небольшим объемом данных, которые обычно используются в качестве анонимных уникальных идентификаторов. Они отправляются в ваш браузер с веб-сайтов, которые вы посещаете, и сохраняются во внутренней памяти вашего устройства. </p>
                    <p> Эта Служба не использует эти файлы cookie в явном виде. Однако приложение может использовать сторонний код и библиотеки, которые используют файлы cookie для сбора информации и улучшения своих услуг. У вас есть возможность либо принять, либо отказаться от этих файлов cookie и узнать, когда файл cookie отправляется на ваше устройство. Если вы решите отказаться от наших файлов cookie, вы не сможете использовать некоторые части этой Услуги. </p>
                    <p><strong>Поставщики услуг</strong></p>
                    <p> Мы можем нанимать сторонние компании и частных лиц по следующим причинам: </p>
                    <ul>
                        <li>- Для облегчения нашего Сервиса;</li>
                        <li>- Для предоставления Сервиса от нашего имени;</li>
                        <li>- Для оказания услуг, связанных с Сервисом; или</li>
                        <li>- Чтобы помочь нам проанализировать, как используется наш Сервис.</li>
                    </ul>
                    <p> Мы хотим сообщить пользователям этого Сервиса, что эти третьи лица имеют доступ к их Персональным данным. Причина в том, чтобы выполнять возложенные на них задачи от нашего имени. Однако они обязаны не разглашать и не использовать информацию для каких-либо других целей. </p>
                    <p><strong>Безопасность</strong></p>
                    <p> Мы ценим ваше доверие в предоставлении нам вашей личной информации, поэтому мы стремимся использовать коммерчески приемлемые средства ее защиты. Но помните, что ни один метод передачи через Интернет или метод электронного хранения не является на 100% безопасным и надежным, и мы не можем гарантировать его абсолютную безопасность. </p>
                    <p><strong>Ссылки на другие сайты</strong></p>
                    <p> Эта Служба может содержать ссылки на другие сайты. Если вы нажмете на стороннюю ссылку, вы будете перенаправлены на этот сайт. Обратите внимание, что эти внешние сайты не управляются нами. Поэтому мы настоятельно рекомендуем вам ознакомиться с Политикой конфиденциальности этих веб-сайтов. Мы не контролируем и не несем ответственности за содержание, политику конфиденциальности или действия любых сторонних сайтов или служб. </p>
                    <p><strong>Конфиденциальность детей</strong></p>
                    <p> Эти Услуги не предназначены для лиц моложе 18 лет. Мы намеренно не собираем личную информацию от детей младше 18 лет. Если мы обнаружим, что ребенок младше 18 лет предоставил нам личную информацию, мы немедленно удалим ее с наших серверов. Если вы являетесь родителем или опекуном и знаете, что ваш ребенок предоставил нам личную информацию, свяжитесь с нами, чтобы мы могли предпринять необходимые действия. </p>
                    <p><strong>Изменения в настоящей Политике конфиденциальности</strong></p>
                    <p> Время от времени мы можем обновлять нашу Политику конфиденциальности. Таким образом, вам рекомендуется периодически просматривать эту страницу на предмет любых изменений. Мы сообщим вам о любых изменениях, опубликовав новую Политику конфиденциальности на этой странице. </p>
                    <p>Эта политика вступает в силу с 01 марта 2022 г.</p>
                    <p><strong>Связаться с нами</strong></p>
                    <p> Если у вас есть какие-либо вопросы или предложения относительно нашей Политики конфиденциальности, не стесняйтесь обращаться к нам по адресу igorancho@gmail.com. </p>
                </article>
                </div>
		    </section>
		<footer class="footer">
		  <div class="footer-line">
			<div class="holder">
			  <ul>
				<li><a href="{% url 'sign:client' %}">Клиентам</a></li>
				<li><a href="{% url 'sign:moderator' %}">Модераторам</a></li>
				<li><a href="{% url 'sign:manager' %}">Менеджерам</a></li>
				<li><a href="{% url 'sign:adjuster' %}">Монтажникам</a></li>
			  </ul>
			</div>
		  </div>
		  <div class="holder">
			<div class="logo">
      {% if setup.logotype %}
        <img src="{{ setup.logotype.url|default:'' }}" alt="{{ setup.meta_title|default:'' }}">
      {% else %}
			  <span class="logo-text-black">Рекламные конструкции </span>
			  <span class="logo-text-big">на входных дверях</span>
			  <span class="logo-text-min">В городах России и СНГ</span>
      {% endif %}
			</div>
			<div class="google-play">
			  <a href="https://play.google.com/store/apps/details?id=com.gw.porches" class="google-play-link">
				Скачайте приложение
				<br>
				<img src="{% static 'landing/images/googleplay.png' %}" alt="Скачайте приложение" class="google-play-link__img">
			  </a>
			</div>
			<a href="http://5lands.ru/" target="_blank" class="studio">
			  Дизайн сайта<br>
			  <img src="{% static 'landing/images/studio.png' %}" alt="">
			</a>
			<div class="header-phone">
			  <div class="header-number">{{ setup.phone|default:'8 800 250-34-50' }}</div>
			  <div class="header-callback"><a href="#dialog2" class="modal">Заказать обратный звонок</a></div>
			</div>
			<div style="clear: both;"></div>
			<div>
			  <div class="copy"><a href="#hidden-block" class="fancybox">Согласие на обрабокту персональных данных</a>
			   Все права защищены © 2015</div>
			</div>
			<div id="hidden-block">
			  <h2>Согласие на обрабокту персональных данных</h2>
			  <p>Мы не собираем личную информацию о Вас, когда Вы заходите на наш сайт.
			  Вы можете анонимно просматривать сайт. Тем не менее, Ваш браузер все же автоматически сообщает нам тип компьютера и операционной системы, которые Вы используете. Единственная личная информация о Вас, которую мы получаем, это те данные, которые Вы добровольно предоставляете при заполнении форм.
			  При заполнении форм на сайте у Вас запросят персональную информацию, такую как имя, номер телефона. Предоставление такой информации в ответ на запрос осуществляется Вами исключительно добровольно.
			  Предоставленная Вами информация используется чтобы оказать те услуги, которые Вы сами запрашиваете.
			  </p>
			</div>
		  </div>
		</footer>
  <link media="all" rel="stylesheet" type="text/css" href="{% static 'landing/css/jquery-ui.css' %}" />
	<link media="all" rel="stylesheet" type="text/css" href="{% static 'landing/css/jquery.bxslider.css' %}" />
	<link media="all" rel="stylesheet" type="text/css" href="{% static 'landing/css/jquery.fancybox.css' %}" />
	<script src="{% static 'landing/js/jquery-1.9.1.min.js' %}"></script>
	<script src="{% static 'landing/js/jquery-ui.min.js' %}"></script>
	<script src="{% static 'landing/js/jquery.bxslider.min.js' %}"></script>
	<script src="{% static 'landing/js/jquery.validate.js' %}"></script>
  <script src="{% static 'landing/js/jquery.form.js' %}"></script>
	<script src="{% static 'landing/js/jquery.fancybox.js' %}"></script>
  <script src="{% static 'landing/js/notify-combined.min.js' %}"></script>
	<script src="{% static 'landing/js/jquery.maskedinput.js' %}"></script>
	<!--[if lt IE 9]><script type="text/javascript" src="{% static 'landing/js/html5.js' %}"></script><![endif]-->
	<!--[if lt IE 9]><script type="text/javascript" src="{% static 'landing/js/placeholder.js' %}"></script><![endif]-->
	<script src="{% static 'landing/js/all.js' %}?v=2"></script>

</body>
</html>